root = false

# Unity's convention for public fields is camelCase, not the repo-wide 
# PascalCase. Apply these settings only to Unity source files.

# Not really the right match, but it works for now
[*Particles.cs]

dotnet_naming_rule.public_fields_should_have_correct_case.severity = warning
dotnet_naming_rule.public_fields_should_have_correct_case.symbols = public_fields
dotnet_naming_rule.public_fields_should_have_correct_case.style = camelcase

dotnet_naming_rule.public_static_fields_should_be_pascalcase.severity = warning
dotnet_naming_rule.public_static_fields_should_be_pascalcase.symbols = public_static_fields
dotnet_naming_rule.public_static_fields_should_be_pascalcase.style = pascalcase

dotnet_naming_rule.public_constant_fields_should_be_pascalcase.severity = warning
dotnet_naming_rule.public_constant_fields_should_be_pascalcase.symbols = public_constant_fields
dotnet_naming_rule.public_constant_fields_should_be_pascalcase.style = pascalcase

dotnet_naming_symbols.public_fields.applicable_kinds = field
dotnet_naming_symbols.public_fields.applicable_accessibilities = public, internal
dotnet_naming_symbols.public_fields.required_modifiers =

dotnet_naming_symbols.public_static_fields.applicable_kinds = field
dotnet_naming_symbols.public_static_fields.applicable_accessibilities = public, internal
dotnet_naming_symbols.public_static_fields.required_modifiers = static

dotnet_naming_symbols.public_constant_fields.applicable_kinds = field
dotnet_naming_symbols.public_constant_fields.applicable_accessibilities = public, internal
dotnet_naming_symbols.public_constant_fields.required_modifiers = const

dotnet_naming_style.camelcase.required_prefix =
dotnet_naming_style.camelcase.required_suffix =
dotnet_naming_style.camelcase.word_separator =
dotnet_naming_style.camelcase.capitalization = camel_case

dotnet_naming_style.pascalcase.required_prefix =
dotnet_naming_style.pascalcase.required_suffix =
dotnet_naming_style.pascalcase.word_separator =
dotnet_naming_style.pascalcase.capitalization = pascal_case
