# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Asset bundle build output
AssetBundles/

# IDE / IDE-generated
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.user
*.suo
*.pidb
*.booproj
*.suo
*.pdb
*.mdb
*.opendb
*.VC.db

# Builds
*.apk
*.aab
*.unitypackage
*.app

# OS artifacts
Thumbs.db
desktop.ini

# Logs
*.log
